<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <properties resource="mysql-jdbc.properties"/>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="logImpl" value="log4j2" />
    </settings>

    <dataSource name="cuishou" transaction="JDBC" class="org.hotwheel.ibatis.datasource.HotWheelDataSourceFactory">
        <property name="driverClassName" value="${cuishou.driver}" />
        <property name="url" value="${cuishou.url}" />
        <property name="username" value="${cuishou.username}" />
        <property name="password" value="${cuishou.password}" />

        <property name="initialSize" value="${pool.initialSize}" />
        <property name="maxActive" value="${pool.maxActive}" />
        <property name="maxIdle" value="${pool.maxIdle}"/>
        <property name="minIdle" value="${pool.minIdle}" />
        <property name="timeBetweenEvictionRunsMillis" value="${pool.timeBetweenEvictionRunsMillis}" />
        <property name="minEvictableIdleTimeMillis" value="${pool.minEvictableIdleTimeMillis}" />
        <property name="removeAbandoned" value="${pool.removeAbandoned}" />
        <property name="removeAbandonedTimeout" value="${pool.removeAbandonedTimeout}" />
        <property name="maxWait" value="${pool.maxWait}" />
        <property name="validationQuery" value="${pool.validationQuery}" />
        <property name="testOnBorrow" value="${pool.testOnBorrow}" />
        <property name="testWhileIdle" value="${pool.testWhileIdle}" />
        <property name="jdbcInterceptors" value="${pool.jdbcInterceptors}"/>
    </dataSource>
    <dataSource name="dsmp" transaction="JDBC" class="org.hotwheel.ibatis.datasource.HotWheelDataSourceFactory">
        <property name="driverClassName" value="${dsmp.driver}" />
        <property name="url" value="${dsmp.url}" />
        <property name="username" value="${dsmp.username}" />
        <property name="password" value="${dsmp.password}" />

        <property name="initialSize" value="${pool.initialSize}" />
        <property name="maxActive" value="${pool.maxActive}" />
        <property name="maxIdle" value="${pool.maxIdle}"/>
        <property name="minIdle" value="${pool.minIdle}" />
        <property name="timeBetweenEvictionRunsMillis" value="${pool.timeBetweenEvictionRunsMillis}" />
        <property name="minEvictableIdleTimeMillis" value="${pool.minEvictableIdleTimeMillis}" />
        <property name="removeAbandoned" value="${pool.removeAbandoned}" />
        <property name="removeAbandonedTimeout" value="${pool.removeAbandonedTimeout}" />
        <property name="maxWait" value="${pool.maxWait}" />
        <property name="validationQuery" value="${pool.validationQuery}" />
        <property name="testOnBorrow" value="${pool.testOnBorrow}" />
        <property name="testWhileIdle" value="${pool.testWhileIdle}" />
        <property name="jdbcInterceptors" value="${pool.jdbcInterceptors}"/>
    </dataSource>

    <mappers>
        <mapper ref="cuishou" resource="mybatis/ermas/ermas.xml"/>
        <mapper ref="dsmp" resource="mybatis/dsmp/dsmp.xml"/>
    </mappers>

</configuration>
